<div class="room-container container-fluid">
  <div class="row info-panel">
    <div class="col-md-3 col-xs-6">
      <h4>Room Name Here</h4>
    </div>
    <div class="col-md-3 col-xs-6">
      <h4>Time Left: 1:32</h4>
    </div>
    <div class="col-md-3 col-xs-6">
      <h4>Votes: 3</h4>
    </div>
    <div class="col-md-3 col-xs-6">
      <h4>Vetos: 1</h4>
    </div>
  </div>
  <div class="row">
    <div class="votable col-lg-3 col-sm-6 col-xs-12">
      <div>
        <div class="row">
          <div class="col-xs-8">
            <h3>Noodles & Company</h3>
          </div>
          <div class="col-xs-4 vote-count">
            4
          </div>
        </div>
        <p class="votable-desc">Everyone knows this is where we will end up anyway.</p>
        <div class="row vote-btn">
          <div class="col-xs-6">
            <button class="btn btn-danger btn-block">Veto</button>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-success btn-block">Vote</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
