<div class="room-container container-fluid">
  <div *ngIf="room" class="row info-panel">
    <div class="col-md-3 col-xs-6">
      <h4>{{room.name}}</h4>
    </div>
    <div class="col-md-3 col-xs-6">
      <h4>Time Left: {{timer}}</h4>
    </div>
    <span *ngIf="room.roomState == 'Voting'">
      <div class="col-md-3 col-xs-6">
        <h4>Votes: {{currentVotes}}</h4>
      </div>
      <div class="col-md-3 col-xs-6">
        <h4>Vetos: {{currentVetos}}</h4>
      </div>
    </span>
    <span *ngIf="room.roomState == 'Nominations'">
      <div class="col-md-3 col-xs-6">
        <h4>Nominations: {{currentNominations}}</h4>
      </div>
      <div class="col-md-3 col-xs-6">
        <button class="btn btn-primary" (click)="showModal = true" [disabled]="room.roomState != 'Nominations'">Nominate!</button>
      </div>
    </span>
  </div>
  <div class="row" *ngIf="room">
    <div *ngFor="let votable of room.votables" class="votable col-lg-3 col-sm-6 col-xs-12">
      <div>
        <div class="row">
          <div class="col-xs-8">
            <h3>{{votable.name}}</h3>
          </div>
          <div class="col-xs-4 vote-count">
            {{votable.votes}}
          </div>
        </div>
        <p class="votable-desc">{{votable.description}}</p>
        <div class="row vote-btn">
          <div class="col-xs-12">
            <button (click)="vote(votable.id)" class="btn btn-success btn-block" [disabled]="room.roomState != 'Voting'">Vote</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form (ngSubmit)="onSubmit(); nomForm.reset()" #nomForm="ngForm">
        <div class="modal-header">
          <h5 class="modal-title">Make a Nomination!</h5>
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nominationName">Nomination Name</label>
            <input type="text" [(ngModel)]="nomName" name="nomName" class="form-control" id="nominationName" placeholder="Where you want to go." required>
          </div>
          <div class="form-group">
            <label for="nominationDescription">Description</label>
            <textarea [(ngModel)]="nomDesc" name="nomDesc" class="form-control" id="nominationDescription" placeholder="Why should we want to go there?" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!nomForm.form.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
