<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Lunch Vote!</h1>
    <p>Settle the question of "Where are we going to eat?"</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="room-btns col-sm-12">
      <a class="btn btn-success btn-lg" routerLink="/create">Create a Room</a>
      <a class="btn btn-warning btn-lg" routerLink="/room">Join a Room</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 desc-row">
      <div class="page-header">
        <h2>How it works</h2>
      </div>
      <p>
        Once a room is open users can nominate options for to vote on. Once all the nominations are in users can cast their votes on what they want. 
        A veto is given to each to use to denote a nomination as unacceptable to them. Once all votes are in or time has expired the results will be displayed.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h3>Create a Room</h3>
        <div class="card-text">
          Click the Create Room Button above and you will be presented with the options that you can set for your voting room. Each option changes how participants will be able to nominate, vote, and veto in your room.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h3>Join a Room</h3>
        <div class="card-text">
          Have a room code and key? Click Join Room above and enter those values to join an existing room and place your vote. 
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h3>Cast your vote</h3>
        <div class="card-text">
          Once your in a room you will be able to nominate choice during the alloted time period. After nomination you can cast your votes. At the end the vote results will be displayed.
        </div>
      </div>
    </div>
  </div>
</div>